<!DOCTYPE html>
<html>
{% include head-home.html %}

<body>

    {% include nav-home.html %}
    <div class="home">
        <header class="header-home">
            <a class="link" href="{{ site.url }}/about/">
                <img class="selfie" alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
            </a>
            <h1 class="title-home">{{ site.title }}</h1>
            <h2 class="description-home">{{ site.bio }}</h2>

            <p class="note">欢迎来到BG2GBQ的个人主页
                <br> 根据中华人民共和国相关法律规定，本站<a href="http://www.bg2gbq.top">主页</a>服务器地址位于中国大陆地区，请放心使用。
                <br> 如您访问本网站有困难，欢迎访问本网站在Github的静态网页: <a href="https://bg2gbq.top">https://bg2gbq.top</a>
            </p>
            {% include social-links.html %}
        </header>
        {% include footer-home.html %}
    </div>
</body>

</html>
